*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  height: 100dvh;
  height: -webkit-fill-available;
  display: grid;
}

#app {
  height: 100%;
  display: grid;
  grid-template-rows: auto 2rem;
  background: var(--gray-5);
}

#desktop {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  min-width: 910px;
  padding: var(--space-3);
  gap: var(--space-3);
  background: linear-gradient(
    -180deg,
    var(--pink-3) 0%,
    var(--pink-5) 100%
  );
}

#app {
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

@keyframes scaleIn {
  0% {
    transform: scale(0.95);
    opacity: 0;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

.editor {
  filter: saturate(0.5);
}

pre,
code {
  font-family: var(--code-font-family);
}

.svg-container svg {
  width: 100%;
  height: auto;
}

.focus-normal:focus {
  outline: 2px solid var(--focus-8);
  outline-offset: -1px;
}
